.l-window-container {
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0;
}

.l-body-container {
    max-width: 1000px;
    background-color: white;
    padding: 0;
    margin: 0;
}

.l-header-container {
    padding: 10px;
    background-color: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.l-main-container {
    background-color: green;
    display: flex;
    flex-flow: row-reverse wrap;
    margin: 0;
    padding: 2px;
}

.l-section-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    margin: 10px;
    background-color: grey;
    flex: 1 1 300px;
}

.l-section-container--input {
    flex: 1 1 600px;

}

.l-footer-container {
    background-color: blue;
    padding: 10px;
}

.logo-img {
    display: block;
    width: 150px;
    height: 150px;
    background-color: white;
    flex: 0 1 auto;

}

.l-brand-container {
    flex: 1 1 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.brand-title {
    margin: 0;
    text-align: center;
}

.brand-description {

}

.group-box {
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2px;
    flex: 0 0 300px;

}

.group-box__header {
    background-color: red;
    width: 100%;
    flex: 1 0 auto%;
    display: flex;
    justify-content: center
}

.group-box__body {
    width: 100%;
    background-color: green;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 2px;
}

.group-box__column {
    background-color: grey;
    padding: 2px;
    margin: 2px;
    flex: 1 0 140px;

}

.group-box__item {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}

.group-box__checkbox {

}
.group-box__label {

}

